* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
body {
  height: 1000px;
}
/* Thuộc tính chung */
a {
  text-decoration: none;
  /* bỏ gạch chân */
}
.mainContent {
  width: 1170px;
  max-width: calc(100% - 48px);
  /* fix dãn trang */
  margin-right: auto;
  margin-left: auto;
}
.btn {
  display: inline-block;
  padding: 0 16px;
  min-width: 118px;
  line-height: 50px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}

/* =============Header==================== */
.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
}
.header .container-header {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav-bar {
  margin-left: auto;
}
.nav-bar ul {
  display: flex;
}

.nav-bar a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}
.nav-bar:hover,
.nav-bar li.active a::after {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}
.nav-bar li.active a::after {
  position: absolute;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
  left: 21px;
  bottom: 6px;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header.action {
  margin-left: 49px;
}
